<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaitem.wuyi_used.dao.cosumerMapper">
    <resultMap id="BaseResultMap" type="com.javaitem.wuyi_used.domain.cosumer" >
        <id column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="userName" jdbcType="VARCHAR" property="username"/>
        <result column="userPwd" jdbcType="VARCHAR" property="password"/>
        <result column="loginTime" jdbcType="TIMESTAMP" property="loginTime"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="registTime" jdbcType="TIMESTAMP" property="registTime"/>
    </resultMap>
    <select id="verifyPassword" resultType="java.lang.Integer">
        select count(*) from cosumer where userName=#{username} and userPwd=#{password}
    </select>
    <select id="verifyRegister" resultType="java.lang.Integer">
        select count(*) from cosumer where userName=#{username}
    </select>
    <insert id="register" >
        insert into cosumer(userName,userPwd,registTime) values (#{username},#{password},#{registerTime})
    </insert>
    <update id="updateLoginTime" >
        update cosumer set loginTime = #{loginTime} where userName = #{username}
    </update>
</mapper>